<% layout('layouts/boilerplate') -%>

<div class="row">
  <h1 class="text-center">Edit destination</h1>
  <div class="col-6 offset-3">
    <form
      action="/destinations/<%=destination._id%>?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="destination[title]"
          value="<%= destination.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="destination[location]"
          value="<%= destination.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label"
              >Add more image(s)...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Distance from Budapest</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">KM</span>
          <input
            type="text"
            class="form-control"
            id="distance"
            placeholder="0.00"
            aria-label="distance"
            aria-describedby="price-label"
            name="destination[distance]"
            value="<%= destination.distance %> "
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="destination[description]"
          required
        >
        <%= destination.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update destination</button>
      </div>
    </form>
    <a href="/destinations">All destinations</a>
    <a href="/destinations/<%= destination._id %> ">Back to destination</a>
  </div>
</div>
