<% layout('layouts/boilerplate') -%>

<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= destination.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= destination.title%></h5>
        <p class="card-text"><%= destination.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= destination.location%></li>
        <li class="list-group-item"><%= destination.author.username%></li>
        <li class="list-group-item"><%= destination.distance%> km</li>
      </ul>
      <% if(currentUser && destination.author.equals(currentUser._id)){ %>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/destinations/<%=destination._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/destinations/<%=destination._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <h1>Leave a review</h1>
    <form
      action="/destinations/<%= destination._id %>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          required
        />
      </div>
      <div>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="10"
          required
        ></textarea>
      </div>
      <div class="mt-3">
        <button class="btn btn-success">Done</button>
      </div>
    </form>
    <% for(let review of destination.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text">Review: <%= review.body %></p>
        <form
          action="/destinations/<%=destination._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
